* {
    box-sizing: border-box;
    font-family: monospace;
}

.header {
    font-size: 60px;
    margin: 20px 0 50px 0;
    transition: transform 0.2s;
}
.header:hover {
    transform: scale(0.8);
}
 
.game {
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.round {
    font-size: 50px;
    font-weight: 900;
}

.score {
    font-size:  32px;

    display: flex;
    justify-content: space-around;
}

.message {
    font-size: 20px;
    font-weight: 600;
    height: 50px;
}

.human {
    border-right: 1px solid black;
}
.computer {
    border-left: 1px solid black;
}

.type {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

.human .type {
    color: #a10000;
}
.computer .type {
    color: #a9c0a9e6;
}

.choice {
    text-align: center;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    width: 160px;
    height: 160px;
    background: #fff;
    border: 2px solid; black;
    border-radius: 50%;
    font-size: 90px;
    opacity: 0.8;
}
.computer .choice {
    background: #a9c0a9e6;
}
.human .choice {
    cursor: pointer;
    background: #d8c5c5de;
}
.human .choice:hover {
    opacity: 1;
}

.computer .selected, .human .selected {
    animation-name: scale;
    animation-duration: 2s;
}

@keyframes scale {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.2); opacity: 1;}
    100% { transform: scale(1.0); }
}

.button {
  display: inline-block;
  padding: 5px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #313131;
  border: none;
  border-radius: 2px;
  box-shadow: 0 5px #999;
}

.button:hover {
    background-color: #121212;
}

.button:active {
  background-color: #030303;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

/**** popup style *************/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 60, 62, 0.78);;
    color: white;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.popup-content {
    position: absolute;
    width: 80%;
    top: 40%;
    left: 10%;
    right: 10%;
    background-color: rgba(36, 25, 27, 0.9);
    padding: 20px;
    border-radius: 5px;
}

.popup-close {
    float: right;
    margin: 5px;
    width: 30px;
    height: 30px;
    font-size: 35px;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
.popup-close:hover {
    background-color: white;
    color: black;
}

/**** popup style end **********/


