* {
    box-sizing: border-box;
    font-family: monospace;
}

.header {
    font-size: 60px;
    margin: 20px 0 50px 0;
    transition: transform 0.2s;
}
.header:hover {
    transform: scale(0.8);
}
 
.game {
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-around;
}

.round {
    font-size: 50px;
    font-weight: 900;
}

.score {
    font-size:  32px;

    display: flex;
    justify-content: space-around;
}

.message {
    font-size: 20px;
    font-weight: 600;
    height: 50px;
}

.human {
    border-right: 1px solid black;
}
.computer {
    border-left: 1px solid black;
}

.type {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

.choice {
    text-align: center;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    width: 160px;
    height: 160px;
    background: #fff;
    border: 2px solid; black;
    border-radius: 50%;
    font-size: 90px;
    transition: transform .2s;
    opacity: 0.8;
}
.human .choice {
    cursor: pointer;
}
.human .choice:hover {
    transform: scale(0.9);
    z-index: 100;
    opacity: 0.9;
}

.computer .selected, .human .selected {
    opacity: 1;
    transform: scale(1.2);
    z-index: 1;
}