 #game {
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-around;
}

.choice {
    margin: 5px;
    padding: 20px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #fff;
    border: 2px dotted black;
    border-radius: 50%;
    font-size: 90px;
}
.human .choice {
    cursor: pointer;
}
.human .choice:hover {
    background: #ddd !important;
}
.human .choice:active {
    background: #ccc !important;
}

.computer .choice {
    opacity: 0.7;
}